---
import Layout from "../../layouts/Layout.astro";
import BusinessModeler from "../../components/tools/BusinessModeler";
---

<Layout
	title="Cost of Starting a Daycare | Business Modeler"
	description="Calculate the cost to open a daycare and your startup capital required with our childcare business modeler."
>
	<div class="px-4 pt-4 pb-12">
		<BusinessModeler client:load />
	</div>
</Layout>
