---
import Layout from "../../layouts/Layout.astro";
import IncomeBuilderTool from "../../components/tools/IncomeBuilderTool";
---

<Layout
	title="Childcare Income Calculator | Home & Center-Based"
	description="Calculate your potential daycare revenue with our free income builder tool. Get accurate projections based on your state and business type."
>
	<div class="px-4 pt-4 pb-12">
		<IncomeBuilderTool client:load />
	</div>
</Layout>
