---
import Layout from '../../layouts/Layout.astro';
import IncomeBuilderTool from '../../components/tools/IncomeBuilderTool';
---

<Layout title="Home Daycare Income Builder | 90-Day Plan Calculator">
	<main class="min-h-screen py-12 px-4">
		<IncomeBuilderTool client:load />
	</main>
</Layout>
