---
import Layout from "../../layouts/Layout.astro";
import IncomeBuilderTool from "../../components/tools/IncomeBuilderTool";
---

<Layout title="Childcare Income Calculator | Home & Center-Based">
	<main class="min-h-screen py-12 px-4">
		<IncomeBuilderTool client:load />
	</main>
</Layout>
