---
import Layout from "../../layouts/Layout.astro";
import MarketReportTool from "../../components/tools/MarketReportTool";
---

<Layout
	title="Childcare Market Report Tool | County Data & Demographics"
	description="Access comprehensive childcare market data for your county. Get accurate price estimates, family income metrics, and demographic characteristics."
>
	<div class="px-4 pt-4 pb-12">
		<MarketReportTool client:load />
	</div>
</Layout>
